<ul class="list-group">
    <li class="list-group-item active py-3" aria-current="true">{{ request.user.get_full_name }} خوش آمدید!</li>
    <li class="list-group-item">
        <a href="{% url 'account:profile' %}">پروفایل</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'account:profile-match' %}">شبکه سازی</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'account:profile-evaluation-requests' %}">کارشناسی اسب</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'account:profile-auction-list' %}">مزایده های شما</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'account:logout' %}">خروج از حساب</a>
    </li>
</ul>