{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    اسپاد | {{ object.name }}
{% endblock %}

{% block main %}
    <div class="page-banner-area bg-black bg-img" data-background="{% static 'template/images/banner-bg-shape2.png' %}">
        <div class="container mw-1680">
            <div class="page-banner-content">
                <h2>{{ object.name }}</h2>
                <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                    <li><a href="{% url 'core:home' %}">صفحه اصلی</a></li>
                    <li><span class="active">فروشگاه</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-area ptb-100">
        <div class="container">
        <div class="alert alert-success">
                <a href="{% url 'shop:cart' %}" class="">مشاهده سبد خرید</a>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                </div>
                <div class="col-lg-6">
                    <div class="about-img-three"><img src="{{ object.image.url }}" alt="about-us"></div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content-three">
                        <h2 class="">{{ object.name }}</h2>
                        <p class="text-success fw-bold h6">
                            <i class="fas fa-location"></i>
                            فروشنده: {{ object.shop.name }}
                        </p>
                        <p class="text-success fw-bold h6">
                            <i class="fas fa-money-bill"></i>
                            {{ object.price|intcomma:False }} تومان</p>
                        <p>{{ object.description|safe|truncatewords:10}}</p>

                        <button id="cartAdd" class="main-btn style-one">افزودن
                            به سبد
                            خرید</button>
                        <a href="tel:{{ product.shop.contact_number }}" class="main-btn style-three">تماس با فروشنده</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <div class="alert alert-secondary">
                {{ object.description|safe }}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {
            $('#cartAdd').click(function () {
                $.ajax({
                    'url': `/shop/cart/add/${'{{object.id}}'}`,
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        payload: {
                            'count': 1
                        }
                    }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    success: (data) => {
                        if (data['status'] === 'added') {
                            alert('محصول به سبد خرید اضافه شد')
                        } else if (data['status'] === 'failed') {
                            alert('مقدار درخواستی بیش از حد مجاز میباشد.')
                        }
                    },
                    error: (data) => {
                        alert("محصول به سبد اضافه نشد!")
                    }
                })
            })
        })
    </script>
{% endblock %}