{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    اسپاد | مزایده {{ object.horse_name }}
{% endblock %}

{% block main %}
    <div class="page-banner-area bg-black bg-img" data-background="{% static 'template/images/banner-bg-shape2.png' %}">
        <div class="container mw-1680">
            <div class="page-banner-content">
                <h2>مزایده {{ auction.horse_name }}</h2>
                <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                    <li><a href="index.html">صفحه اصلی</a></li>
                    <li><span class="active">مزایده اسب</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if user_has_bid %}
                        <div class="alert alert-secondary">
                            شما قبلا در این مزایده شرکت کرده اید!
                        </div>
                    {% endif %}

                    {% if object.end_time < now %}
                        <div class="alert alert-danger">
                            {{ object.end_time|naturaltime }} مزایده به پایان رسیده.
                        </div>
                    {% elif object.start_time > now %}
                        <div class="alert alert-success">
                            {{ object.start_time|naturaltime }} تا شروع مزایده!
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            در مزایده شرکت کنید. {{ object.end_time|naturaltime }} تا پایان مزایده.
                            <a href="#auction-detail">شرکت در مزایده</a>
                        </div>
                    {% endif %}


                </div>
                <div class="col-lg-6">
                    <div class="about-img-three"><img src="{{ object.horse_image.url }}" alt="about-us"></div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content-three">
                        <span class="top-title">مزایده</span>
                        <h2 class="">مزایده {{ object.horse_name }}</h2>
                        <p>{{ object.horse_summary }}</p>

                        <a href="#auction-detail"
                           class="main-btn style-one">ثبت پیشنهاد<i
                                class="fa-regular fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="container mb-5 pb-5">


    <div class="product-info-area pb-100" id="auction-detail">
        <div class="container">
            {% if object.end_time < now %}
                <div class="alert alert-danger">
                    {{ object.end_time|naturaltime }} مزایده به پایان رسیده.
                </div>
            {% elif object.start_time > now %}
                <div class="alert alert-success">
                    {{ object.start_time|naturaltime }} تا شروع مزایده!
                </div>
            {% else %}
                <div class="alert alert-success">
                    در مزایده شرکت کنید. {{ object.end_time|naturaltime }} تا پایان مزایده.
                    <a href="#auction-detail">شرکت در مزایده</a>
                </div>
            {% endif %}
            <ul class="nav nav-tabs product-info-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="description-tab" data-bs-toggle="tab"
                            data-bs-target="#description-tab-pane" type="button" role="tab"
                            aria-controls="description-tab-pane" aria-selected="false">جزئیات مزایده
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="size-chart-tab" data-bs-toggle="tab"
                            data-bs-target="#size-chart-tab-pane"
                            type="button" role="tab" aria-controls="size-chart-tab-pane" aria-selected="true">پیشنهادات
                        ثبت شده
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="description-tab-pane" role="tabpanel"
                     aria-labelledby="description-tab" tabindex="0">
                    <div class="services-area pb-75">
                        <div class="container">
                            <div class="row" data-cues="slideInUp">
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="services-single-item style-two">
                                        {#                                            <div class="icon"><img src="assets/images/services-icon-1.svg"#}
                                        {#                                                                   alt="services-icon"></div>#}
                                        <h3><a>جزئیات مزایده</a></h3>
                                        <p></p>
                                        <ul class="ps-0 mb-0 list-unstyled">
                                            <li>حداقل پیشنهاد مزایده: {{ object.get_start_price }} تومان</li>
                                            <li>تاریخ شروع مزایده: {{ object.get_start_time_jalali }}</li>
                                            <li>تاریخ پایان مزایده: {{ object.get_end_time_jalali }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="services-single-item style-two">
                                        {#                                            <div class="icon"><img src="assets/images/services-icon-1.svg"#}
                                        {#                                                                   alt="services-icon"></div>#}
                                        <h3><a>درباره اسب</a></h3>
                                        <p></p>
                                        <ul class="ps-0 mb-0 list-unstyled">
                                            <li>سن اسب: {{ object.horse_age }}</li>
                                            <li>نژاد اسب: {{ object.get_start_time_jalali }}</li>
                                            {% if object.bids.first %}
                                                <li>
                                                    بیشترین قیمت: {{ object.bids.first.get_amount }} تومان
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    {% if object.start_time < now and object.end_time > now %}
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url 'auction:auction-bid' object.pk %}"
                                               class="main-btn style-one">ثبت
                                                پیشنهاد<i
                                                        class="fa-regular fa-arrow-left"></i></a>
                                        {% else %}
                                            <a href="{% url 'account:login' %}?next={% url 'auction:auction-bid' object.pk %}"
                                               class="main-btn style-one">ثبت پیشنهاد<i
                                                    class="fa-regular fa-arrow-left"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="size-chart-tab-pane" role="tabpanel"
                     aria-labelledby="size-chart-tab"
                     tabindex="0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>نام</td>
                            <td>قیمت مزایده</td>
                            <td>تاریخ ثبت</td>
                        </tr>
                        </thead>
                        <tbody>

                        {% for bid in object.bids.all %}
                            <tr>
                                <td>{{ bid.bidder.get_full_name }}</td>
                                <td>{{ bid.get_amount }} تومان</td>
                                <td>{{ bid.get_created_jalali }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% if object.start_time < now and object.end_time > now %}
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'auction:auction-bid' object.pk %}"
                               class="main-btn style-one">ثبت
                                پیشنهاد<i
                                        class="fa-regular fa-arrow-left"></i></a>
                        {% else %}
                            <a href="{% url 'account:login' %}?next={% url 'auction:auction-bid' object.pk %}"
                               class="main-btn style-one">ثبت پیشنهاد<i
                                    class="fa-regular fa-arrow-left"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="mt-5">
                <div class="alert alert-secondary">
                    <h4>درباره نژاد اسب</h4>
                    <hr>
                    <div class="mb-4">
                        {{ object.horse_description }}
                    </div>
                    <video class="img-fluid" controls>
                        <source src="{{ object.horse_video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

{% endblock %}