{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    اسپاد | {{ object.name }}
{% endblock %}

{% block main %}
    <div class="page-banner-area bg-black bg-img" data-background="{% static 'template/images/banner-bg-shape2.png' %}">
        <div class="container mw-1680">
            <div class="page-banner-content">
                <h2>{{ object.name }}</h2>
                <ul class="ps-0 mb-0 list-unstyled justify-content-center page-breadcrumb d-flex flex-wrap gap-4">
                    <li><a href="{% url 'core:home' %}">صفحه اصلی</a></li>
                    <li><span class="active">رزرو باشگاه</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                </div>
                <div class="col-lg-6">
                    <div class="about-img-three"><img src="{{ object.image.url }}" alt="about-us"></div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content-three">
                        <h2 class="">{{ object.name }}</h2>
                        <p>{{ object.description }}</p>

                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-location"></i>
                                آدرس: {{ object.location }}
                            </li>
                            <li>
                                <i class="fas fa-inbox"></i>
                                ایمیل: {{ object.email }}
                            </li>
                            <li>
                                <i class="fas fa-globe"></i>
                                وبسایت: {{ object.email }}
                            </li>
                            <li>
                                <i class="fas fa-globe"></i>
                                شماره تماس: {{ object.contact_number }}
                            </li>
                        </ul>

                        <a href="#sessions" class="main-btn style-one">سانس های باشگاه<i
                                class="fa-regular fa-arrow-left"></i></a>
                    </div>
                </div>

                <div class="col-12 mt-5">
                    <h5 class="text-center" id="sessions">سانس های باشگاه</h5>
                    <div class="row">
                        {% for session in object.sessions.all %}
                            <div class="col-md-6 col-12 my-2">
                                <div class="border rounded p-3 d-flex justify-content-between">
                                    <p class="fw-bold">سانس: {{ session.session_info }}</p>
                                    <div>
                                        <a href="{% url 'gym:reserve-session' object.pk %}"
                                           class="btn btn-warning btn-sm mt-1">رزرو آنلاین</a>
                                        <a href="tel:{{ object.contact_number }}" class="btn btn-warning btn-sm mt-1">تماس</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}