{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    اسپاد | ورود به حساب
{% endblock %}

{% block main %}
    <div class="sign-in-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="authentication-form">
                        <ul class="ps-0 list-unstyled d-flex authentication-nav">
                            <li><a href="#" class="active">لطفا اطلاعات خود را وارد کنید</a></li>
                        </ul>
                        <form method="post" autocomplete="off">
                            {% csrf_token %}
                        <h6 class="mb-3">شما در سایت عضو نیستید، لطفا فرم زیر را پر کنید</h6>

                            <div class="row">
                                <div class="col-12 mt-2">
                                    <label for="{{ form.first_name.id_for_label }}"
                                           class="font-vazir-bold-fd">
                                        {{ form.first_name.label }}*
                                    </label>
                                    {{ form.first_name }}
                                    <ul class="text-secondary mt-1">
                                        {% if form.first_name.errors %}
                                            {% for error in form.first_name.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="col-12 mt-2">
                                    <label for="{{ form.last_name.id_for_label }}"
                                           class="font-vazir-bold-fd">
                                        {{ form.last_name.label }}*
                                    </label>
                                    {{ form.last_name }}
                                    <ul class="text-secondary mt-1">
                                        {% if form.last_name.errors %}
                                            {% for error in form.last_name.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="col-12 mt-2">
                                    <label for="{{ form.password.id_for_label }}"
                                           class="font-vazir-bold-fd">
                                        {{ form.password.label }}*
                                    </label>
                                    {{ form.password }}
                                    <ul class="text-secondary mt-1">

                                        {% if form.password.errors %}
                                            {% for error in form.password.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="col-12 mt-2">
                                    <label for="{{ form.user_type.id_for_label }}"
                                           class="font-vazir-bold-fd">
                                        {{ form.user_type.label }}*
                                    </label>
                                    {{ form.user_type }}
                                    <ul class="text-secondary mt-1">

                                        {% if form.user_type.errors %}
                                            {% for error in form.user_type.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="col-12 mt-2">
                                    <label for="{{ form.offers.id_for_label }}"
                                           class="font-vazir-bold-fd">
                                        {{ form.offers.label }}*
                                    </label>
                                    {{ form.offers }}
                                    <ul class="text-secondary mt-1">

                                        {% if form.offers.errors %}
                                            {% for error in form.offers.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="col-12 mt-2">
                                    <label for="{{ form.demands.id_for_label }}"
                                           class="font-vazir-bold-fd">
                                        {{ form.demands.label }}*
                                    </label>
                                    {{ form.demands }}
                                    <ul class="text-secondary mt-1">

                                        {% if form.demands.errors %}
                                            {% for error in form.demands.errors %}
                                                <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>

                            <div class="form-group mb-4">
                                <button type="submit" class="main-btn">ورود به اسپاد</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}