{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    اسپاد | مزایده های من
{% endblock %}

{% block main %}
    <div class="sign-in-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12">
                    {% include 'account/components/navbar.html' %}
                </div>
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between align-items-center mb-3 mt-4 mt-md-0">
                            <h5>مزایده های شما</h5>
                            <a href="{% url 'account:profile-auction-create' %}" class="main-btn style-one p-2">ایجاد
                                مزایده</a>
                        </div>

                        {% for object in object_list %}
                            <div class="col-md-6 col-12 mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        مزایده {{ object.horse_name }}
                                    </div>
                                    <div class="card-body">
                                        <img src="{{ object.horse_image.url }}" alt="" class="img-fluid mb-3">
                                        <p class="mb-3">شروع از: {{ object.get_start_price }} تومان</p>
                                        <a href="{% url 'auction:auction-detail' object.pk %}"
                                           class="btn btn-outline-primary">مشاهده</a>
                                        <a href="{% url 'account:profile-auction-update' object.pk %}"
                                           class="btn btn-outline-warning">ویرایش</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}