{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'template/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/scrollcue.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/responsive.css' %}">
    <link rel="icon" type="image/png" href="{% static 'template/images/favicon.png' %}">
    {% block css_code %}

    {% endblock %}
    <title>{% block title %}

    {% endblock %}</title>
</head>

<body>
<div class="preloader">
    <div class="content">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
</div>
<div class="navbar-area bg-black">
    <div class="main-nav">
        <div class="container mw-1680">
            <nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="index.html"><img
                    src="{% static 'template/images/white-logo.svg' %}" alt="logo"></a>
                <div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="{% url 'core:home' %}" class="nav-link dropdown-toggle">صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account:profile' %}" class="nav-link dropdown-toggle">حساب کاربری</a>
                        </li>
                    </ul>
                    <div class="nav-right-options d-flex align-items-center">
                        <ul class="social-link ps-0 mb-0 list-unstyled">
                            <li><a href="https://facebook.com/" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://linkedin.com/" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="mobile-nav">
        <div class="container">
            <div class="mobile-menu">
                <div class="logo"><a href="index.html"><img src="{% static 'template/images/white-logo.svg' %}"
                                                            alt="logo"></a></div>
            </div>
        </div>
    </div>
</div>

{% block main %}

{% endblock %}

<div class="footer-area pt-50 pb-50 bg-black border-top">
    <div class="container">
        <div class="row" data-cues="slideInUp">
            <div class="col-12">
{#                <div class="footer-single-item">#}
                    <h5 class="text-center text-white">اسپاد - 2025</h5>
{#                </div>#}
            </div>
        </div>
    </div>
</div>
{#<div class="container">#}
{#    <p class="copy-right">کپی رایت،<span>برای <a href="https://mellatweb.com"> ملت وب </a></span>تمامی حقوق محفوظ#}
{#        است</p>#}
{#</div>#}
<div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
<script src="{% static 'template/js/jquery.min.js' %}"></script>
<script src="{% static 'template/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'template/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'template/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'template/js/scrollcue.js' %}"></script>
<script src="{% static 'template/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'template/js/counterup.min.js' %}"></script>
<script src="{% static 'template/js/waypoints.min.js' %}"></script>
<script src="{% static 'template/js/mixitup.min.js' %}"></script>
<script src="{% static 'template/js/smoothscroll.min.js' %}"></script>
<script src="{% static 'template/js/custom.js' %}"></script>
{% block js_code %}

{% endblock %}
</body>

</html>