{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl"><!----- Shered In Mellatweb.com --->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'template/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/font-awesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/scrollcue.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/responsive.css' %}">
    <link rel="icon" type="image/png" href="{% static 'template/images/favicon.png' %}">
    {% block css_code %}

    {% endblock %}
    <title>{% block title %}

    {% endblock %}</title>
</head>

<body>
<div class="preloader">
    <div class="content">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>
</div>
<div class="navbar-area bg-black">
    <div class="main-nav">
        <div class="container mw-1680">
            <nav class="navbar navbar-expand-md navbar-light"><a class="navbar-brand" href="index.html"><img
                    src="{% static 'template/images/white-logo.svg' %}" alt="logo"></a>
                <div class="collapse navbar-collapse for-mobile-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a href="{% url 'core:home' %}" class="nav-link dropdown-toggle">صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account:profile' %}" class="nav-link dropdown-toggle">حساب کاربری</a>
                        </li>
                    </ul>
                    <div class="nav-right-options d-flex align-items-center">
                        <ul class="social-link ps-0 mb-0 list-unstyled">
                            <li><a href="https://facebook.com/" target="_blank"><i
                                    class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/" target="_blank"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://linkedin.com/" target="_blank"><i
                                    class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="mobile-nav">
        <div class="container">
            <div class="mobile-menu">
                <div class="logo"><a href="index.html"><img src="{% static 'template/images/white-logo.svg' %}"
                                                            alt="logo"></a></div>
            </div>
        </div>
    </div>
</div>

{% block main %}

{% endblock %}

<div class="footer-area pt-100 pb-75 bg-color-030303">
    <div class="container">
        <div class="row" data-cues="slideInUp">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-item">
                    <a href="index.html" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
                    <p>در سفری به ما بپیوندید که در آن خلاقیت حد و مرزی نمی شناسد و نوآوری رشد می کند. امروز با
                        [Stir] تماس بگیرید،</p>
                    <ul class="social-link ps-0 mb-0 list-unstyled">
                        <li><a href="https://facebook.com/" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li><a href="https://instagram.com/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://linkedin.com/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-item ms-lg-5">
                    <h3>لینک های مفید</h3>
                    <ul class="useful-link">
                        <li><a href="about-us.html">درباره ما</a></li>
                        <li><a href="case-study.html">مطالعه موردی</a></li>
                        <li><a href="services.html">خدمات ما</a></li>
                        <li><a href="contact-us.html">با ما تماس بگیرید</a></li>
                        <li><a href="faq.html">سوالات متداول</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-item">
                    <h3>با ما تماس بگیرید</h3>
                    <p class="mb-3">خیابان Samwell، Trankturt 2589 نیویورک.</p>
                    <ul class="contact-info ms-0">
                        <li><a href="mailto:information@stir.com">information@stir.com</a></li>
                        <li><a href="tel:+52883256953129">+5288 32569 53129</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-single-item">
                    <h3>مشترک ما شوید</h3>
                    <p>برای به روز رسانی های بعدی در خبرنامه ما مشترک شوید. نگران نباشید ما آدرس ایمیل شما را اسپم
                        نمی کنیم</p>
                    <form class="position-relative z-1">
                        <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید">
                        <button
                                type="submit"
                                class="p-0 bg-transparent border-0 send-btn position-absolute top-50 end-0 translate-middle-y">
                            <i
                                    class="fa-light fa-paper-plane-top"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="container">#}
{#    <p class="copy-right">کپی رایت،<span>برای <a href="https://mellatweb.com"> ملت وب </a></span>تمامی حقوق محفوظ#}
{#        است</p>#}
{#</div>#}
<div class="back-to-top text-center"><i class="icofont-simple-up"></i></div>
<script src="{% static 'template/js/jquery.min.js' %}"></script>
<script src="{% static 'template/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'template/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'template/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'template/js/scrollcue.js' %}"></script>
<script src="{% static 'template/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'template/js/counterup.min.js' %}"></script>
<script src="{% static 'template/js/waypoints.min.js' %}"></script>
<script src="{% static 'template/js/mixitup.min.js' %}"></script>
<script src="{% static 'template/js/smoothscroll.min.js' %}"></script>
<script src="{% static 'template/js/custom.js' %}"></script>
{% block js_code %}

{% endblock %}
</body>

</html>